/.$p3_state_machine.drawio.bkp
/.Homework 1.autosave.xopp
/Homework 1.docx_old.pdf
/Homework 1.pdf
/Homework 1.xopp
/p3_state_machine.drawio
/p3_state_machine.drawio.png
/p4_accuracy_not_achievable.png
/p4_probabilistic_automata_.drawio
/p4_probabilistic_automata_.drawio.png